
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table align="center">
    <h2 style="text-align:center">ĐĂNG KÍ THÀNH VIÊN </h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @*<tr style="height:40px">
            <td> Họ tên khách hàng:</td>
            <td>
                @Html.TextBox("hoten")
                @ViewData["Loi1"]
            </td>
        </tr>*@
        <tr style="height:40px">
            <td> Tên đăng nhập:</td>
            <td>
                @Html.TextBox("hoten")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>  Mật Khẩu:</td>
            <td>
                @Html.Password("mk")
                @ViewData["Loi3"]
            </td>
        </tr>
        @*<tr style="height:40px">
            <td>Nhập lại mật khẩu</td>
            <td>
                @Html.Password("Matkhaunhatrlai")
                @ViewData["Loi4"]
            </td>
        </tr>*@


        <tr style="height:40px">
            <td> Email:</td>
            <td>
                @Html.TextBox("mail")
                @ViewData["Loi5"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Ðịa chỉ:</td>
            <td>
                @Html.TextBox("diachi")
            </td>
        </tr>
        <tr style="height:40px">
            <td>Ðiện thoại:</td>
            <td>
                @Html.TextBox("sdt")
                @ViewData["Loi6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Ngày sinh :</td>
            <td>
                <input type="date" name="Ngaysinh" />
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Đăng Kí " />
            </td>
        </tr>
    }
</table>