@using LapTop.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="bg-success bg-menu mb-3 p-3">
    <b style="color:white">SẢN PHẨM MỚI</b>
</div>

<div class="row mb-2">
    @foreach (var sp in Model)
    {
        <div class="col-6 col-md-3">
            <div class="card" style="background-color:powderblue">
                <img src="..\\image_product\@sp.hinh" class="img img-fluid card-img-top" />
                <div class="card-body">
                    <h5 class="card-title"><a href="/TrangChu/ChiTiet?masp=@sp.ma"> @sp.ten.Substring(0, 35) ...</a></h5>
                    <h5 class="card-title" style="font-weight:bold; color: red"> Giá Bán:  @sp.gia </h5>
                    <p class="card-text" style=""></p>

                    <a class="btn btn-primary" href="@Url.Action("ThemGiohang", "Giohang", new { @iMahang = @sp.ma, @strURL = Request.Url.ToString() })">
                        Thêm Vào Giỏ Hàng
                    </a>
                </div>
            </div>
        </div>
    }



</div>
@* Tao liên kết các trang  *@
<div class="row mt-2 justify-content-center">
    <div class="text-center" style="text-align: center ">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
   
</div>

